body {
  background-color: var(--primary);
}

.figulog {
  border-radius: 10px;
  color: var(--primary);
  font-weight: 900;
}

.figpos {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-right: 7vw;
  margin-top: -8vh;
}

.figcenter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  opacity: 0.2;
}

.bodymod {
  height: 90vh;
}

.container {
  margin: 2vh;
  padding: 2vh;
  background-color: #FCEEF0;
  height: 80vh;
  width: 98vw;
  border-radius: 10px;
}

.containerform {
  margin: 2vh;
  background-color: #EEFCF3;
  height: 70vh;
}

.titleform {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.titleformprov {
  display: flex;
  padding-left: 5vw;
}

.numberform {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.descimage {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.statstock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;

}

.botones {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.botonesform {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vw;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: var(--strong);
  border-radius: 6px;
  border: 1px solid black;
  font-size: x-large;
}
.botonesformC {
  margin-left: 2vw;
  margin-right: 2vw;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: var(--strong);
  border-radius: 6px;
  border: 1px solid black;
  font-size: x-large;
}

.logophoncuitstatus {
  padding: 2vh;
  margin: 4vh;
  background-color: #EEF7FC;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.phonecuitstatus {
  width: 50vw;
}

.inputlarge {
  margin-top: 3vh;
  width: 80vw;
  height: 7vh;
  background-color: #EEF7FC;
  border-radius: 20px;
  border-color: cornflowerblue;
  font-size: x-large;
  padding-left: 10vw;
}

.inputlargeC {
  margin-top: 3vh;
  width: 60vw;
  height: 7vh;
  background-color: #EEF7FC;
  border-radius: 20px;
  border-color: cornflowerblue;
  font-size: x-large;
  padding-left: 10vw;
}

.inputsmall {
  margin-top: 3vh;
  margin: 2vh;
  width: 23vw;
  height: 7vh;
  background-color: #EEF7FC;
  border-radius: 20px;
  border-color: cornflowerblue;
  font-size: x-large;
  padding-left: 10vw;
}

.inputsmallprov {
  margin: 1vh;
  width: 39vw;
  height: 6vh;
  background-color: #EEF7FC;
  border-radius: 20px;
  border-color: cornflowerblue;
  font-size: x-large;
  padding-left: 8vw;
}
.inputsmallprovC {
  margin: 1vh;
  width: 30vw;
  height: 5vh;
  background-color: #EEF7FC;
  border-radius: 20px;
  border-color: cornflowerblue;
  font-size: large;
  padding-left: 8vw;
}

.inputmedium {
  padding: 6vh 1vh 1vh 4vh;
  width: 40vw;
  height: 20vh;
  background-color: #EEF7FC;
  border-radius: 20px;
  border: none;
  /* border-color: cornflowerblue; */
  font-size: large;
}

.inputmediumC {
  padding: 5vh 1vh 1vh 4vh;
  width: 25vw;
  height: 20vh;
  background-color: #EEF7FC;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: small;
}

.labelgroup {
  font-size: initial;
  position: fixed;
  padding: 3vh;
  color: rgba(100, 148, 237, 0.4);
}

.imageupform {
  font-size: small;
}

.perror {
  font-size: small;
  color: coral;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.modalbackground{
  height: 40vh;
  width: 40vw;
}