.links {
    text-decoration: none;
    color: inherit;
}

.menu_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.contenedor_menu {
    border-radius: 23px;
    height: 46px;
    margin-left: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.contenedor_menu:hover {
    background-color: rgba(185, 185, 185, 0.24);
}

.active {
    background-color: rgb(185, 185, 185);
}

.logo {
    width: 14vh;
    padding-left: 14px;
}

.nav_item {
    color: rgb(114, 113, 113);
    list-style: none;
}

.links {
    text-decoration: none;
    color: inherit;
}

.links:hover {
    color: var(--strong)
}

.input_filter {
    border-radius: 12px;
    width: 120px;
    padding-left: 8px;
    margin-left: 4px;
    margin-right: 6px;
    background-color: var(--primary);
    border-color: var(--strong);
    color: rgb(97, 97, 97);
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    margin: 5px;
}

.input_filter:hover {
    background-color: var(--strong);
    border-color: var(--primary);
    color: var(--primary);
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input_search {
    height: 20px;
    background-color: var(--strong);
    border: none;
    color: var(--white);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 10px;
    outline: none;
    width: 280px;
    cursor: pointer;
}

.input_search::placeholder {
    color: rgb(243, 241, 241);
}

.search_button {
    height: 20px;
    background-color: var(--strong);
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-right: 14px;
    color: var(--white);
    cursor: pointer;
}

.autoCompleteContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0;
    width: 50px;
    position: absolute;
    bottom: 0px;
    z-index: 9999;
    transform: translateY(100%);
}

.autoComplete {
    width: 180px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0.5rem;
    font-size: 1.5rem;
    background-color: var(--strong);
    margin: 0;
    border: 1px solid gray;
    color: rgb(243, 241, 241);
}

.autoComplete:hover {
    background-color: gray;
    color: white;
}