.boton-next{
    background-color: #DD6873 ;
    color: white;
    border-color:#DD6873;
    border-radius: 3px;
    margin: 6px;
}
.boton-next:hover{
    background-color: #b4444f ;
    border-color: #b4444f ;
}
.boton-next:active{
    background-color: #c94351 ;
    color: white;
    border-color:#c94351 ;
}
.botones-paginado{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-end;
    
}