.card{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: auto;
    padding-top: 150px;
    background-color: #E3EFFB;
}
.img{
height: 400px;
width: auto;
margin-right: 140px;
padding-left: 20px;
}
.fondo{
    background-color: #eef7fc98;
    width: 300px;
    
}
.list_group_flush{
    border-radius: 12px;
}
.none{
    text-decoration: none;
} 
.card_detail{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
.text_detail{
margin-right: 130px;
}
.back_boton_detail{
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
}
.box {
    margin: 1rem;
    padding: 1.5rem;
    background-color: black;
    opacity: 90%;
    border-radius: 5px;
}
