.card{ background-color: #eef7fc;
    display: grid;
    margin-left: 25%;
    margin-right: 25%;
    width: auto;
    height: auto;
}
.img{
height: 480px;

}
.fondo{
    background-color: #eef7fc;
}
.none{
    text-decoration: none;
} 