.containerOfert {
    display: flex;
    padding: 50px;
    margin: 50px;
    width: 50vw;
    background-color: #EEF7FC;
    border-radius: 20px;
}

.rigth {
    height: 30vh;
    width: 20vw;
    margin: 88px 0px 0px 20px;
    padding: 20px;
    background-color: var(--primary);
    overflow: hidden;
    overflow-y: scroll;
}