.divScrollProducts {
    width: 400px;
    background-color: #e197a1;
    height: 250px;
    margin: 10px 10px 10px 0px;
    overflow: hidden;
    overflow-y: scroll;
}

.parentScrolls {
    display: flex;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.inputDes {
    height: 10vh;
}

.title {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
    color: rgb(114, 114, 114);
    margin-left: 6px;
    color: #0cb3c9
}