.conteiner{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #E3EFFB;
  height: 60vh;
}
.spinner {
  margin: 10vw;
  padding: 5rem;
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-left-color: #09f;

  animation: spin 1s ease infinite;

}
@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}