.menu-container{
    display: inline-block;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    width: 210px;
    min-height: 200px ;
    max-height: 340px;
    position: fixed;
    top: 66.5px;
    right: 100%;
    color: rgb(97, 97, 97);
    background-color: #E3EFFB;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    border: 1.5px solid rgb(97, 97, 97) ;
    border-top: 1.3px;
    border-bottom-right-radius: 8px;
    padding-top: 3%;
    padding-bottom: 10%;
    
}
.menu-container.open{
    transform: translateX(95%);
}
.box-menu{
    margin-bottom: 100px;
    background-color: #E3EFFB;
    color: #E3EFFB;
    margin-bottom: 1px;
    border: 1.4px solid #E3EFFB;
    border-bottom-color: rgb(97, 97, 97);
    width: 95%;
    
}
.box-menu:hover{
    background-color: #c8ddf1;
}
.box-menu1{
    margin-bottom: 100px;
    background-color: #E3EFFB;
    margin-bottom: 1px;
    border: 1.4px solid #E3EFFB;
    border-bottom-color: rgb(97, 97, 97);
    width: 90%;
    
}
.menubutton-crate-product{
    width: 90%;
    border: none;
    height: 46px;
    color: rgb(97, 97, 97);
    background-color: #E3EFFB ;
    border-bottom: 1px solid rgb(97, 97, 97) ;
}
.menubutton-crate-product:hover{
    color:#DD6873;
    font-weight: 600;
}