.shiny {
  display: flex;
  color: #dd6873;
  position: relative;
  padding: 32px 32px;
  background: #eefcf3;
  border: 1px solid white;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  margin: 5%;
  margin-left: 50px;
  text-decoration: none;
  margin-right: 70px;
}

.shiny::after {
  content: "";
  position: absolute;
  top: calc(var(--y, 0) * 1px - 50px);
  left: calc(var(--x, 0) * 1px - 50px);
  width: 100px;
  height: 100px;
  background: radial-gradient(#fceef0, #3984ff00 80%);
  opacity: 0;
  transition: opacity 0.2s;
}

.shiny:hover {
  opacity: 1;
  cursor: pointer;
  background-color: #e1818b;
  color: #E3EFFB
}
