.icon-pay-approved{
    color: rgb(31, 160, 31);
    font-size: 30px;
    width: 50px;
    
}
.icon-pay-pending{
    color: #dbdf23;
    font-size: 30px;
    width: 50px;
    
}
.icon-pay-failure{
    color: #dd5b3a;
    font-size: 30px;
    width: 50px;
    
}
.btn-statuspay-tohome{
    background-color: #DD6873 ;
    border-radius: 12px;
    border: none;
    color: white;
    height: 38px;
    width: 130px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.btn-statuspay-tohome:hover{
    background-color: #bd3d4a;
}
.btn-statuspay-tohome:active{
    background-color: #9c0922;
}
.logo-approved{
    width: 7vh;
    border-radius: 6vh;
}
.detalle-compra-appr{
    display: flex;
    justify-content: center;
    align-items: center;
}
