.providerCardContainer {
    display: inline-block;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center;
    width: 25vw;
    height: 40vh;
    margin: 40px;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    text-shadow: 0px 0px 1px black;
    font-size: 12px;
}

.imageProvider {
    width: 10vw;
    height: 15vh;
    border-radius: 5px;
}