.boton-next1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#E3EFFB ;
    color:#DD6873 ;
    border-color:#E3EFFB;
    border-radius: 3px;
    margin: 6px;
    font-size: 50px;
    padding: 0.1px;
    border: none;
    cursor: pointer;
}
.boton-next1:hover{
    color:#ca2334;
}
.boton-next1:active{
    color: #710e18 ;
}
.botones-paginado{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-end;
    margin-top: 87px;
    padding-top: 12px;
    
}
.number-home{
    background-color:#EEF7FC; 
    color: rgb(190, 205, 218);
    margin-bottom: 12px;
    padding: 6px;
    background: none;
    border: none;
    border-radius: 5px;
}
.number-home:hover{
    background-color: #DD6873;
    color: white;
}
.active1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #E3EFFB;
    border-radius: 2px;
    font-weight: 600;
    color:#DD6873;
    box-shadow: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.number-home:active{
    background-color: rgb(180, 37, 37);
    border-radius: 2px;
    border-color:rgb(187, 187, 187);
    color:rgb(247, 241, 241);
    transition: 1s;
}