.parent404 {
    background-color: #E3EFFB;
    height: 88vh;
    left: 0;
    text-align: center;
    padding-top: 150px;
}

#image {
    height: 40%;
}

.imgText {
    width: 100%; 
    padding: 20px;
}

.homeButton {
    text-decoration: none;
    padding: 4.5px;
    background-color:#DD6873;
    border:none;
    color: white;
    border-radius: 10px;
    outline: none;
}
.homeButton:hover {
    color: white;
}