
.searchBar{
    margin-left: 300px;
    margin-right: 90px;
}

.input-search{
    height: 30px;
    background-color:#DD6873 ;
    border:none;
    color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 10px;
    outline: none;
    width: 280px;
}
.input-search::placeholder{
    color: rgb(243, 241, 241);
}
.search-button{
    height: 30px;
    background-color:#DD6873 ;
    border:none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-right: 14px;
    color: white;   
}
.links {
    text-decoration: none;
    color: inherit;
}
