.parentNav {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #E3EFFB;
    border-bottom-width: 1.3px;
    border-bottom-style: solid;
    border-bottom-color:  #000;
}
.element-nav{
    padding-top: 30px;
    padding-bottom: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 7vw;
    height: 13vh;
}
.link-nav{
    margin-left: 4px;
    margin-right: 40px;
}
.link-nav1{
    margin-left: 4px;
    margin-right: 40px;
}
.searchBar{
    margin-left: 300px;
    margin-right: 90px;
}

.input-search{
    height: 30px;
    background-color:#DD6873 ;
    border:none;
    color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 10px;
    outline: none;
    width: 280px;
}
.input-search::placeholder{
    color: rgb(243, 241, 241);
}
.search-button{
    height: 30px;
    background-color:#DD6873 ;
    border:none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-right: 14px;
    color: white;   
}