.navbar{
    border-bottom: 1.35px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-search{
    height: 30px;
    background-color:#DD6873 ;
    border:none;
    color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 10px;
    outline: none;
    width: 280px;
    cursor: pointer;
}
.input-search::placeholder{
    color: rgb(243, 241, 241);
}
.search-button{
    height: 30px;
    background-color:#DD6873 ;
    border:none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-right: 14px;
    color: white;
    cursor: pointer;   
}
.logo{
    width: 14vh;
}
.links {
    text-decoration: none;
    color: inherit;
}
.input-filter{
    border-radius: 12px;
    width: 100px;
    padding-left: 8px;
    margin-left: 4px;
    margin-right: 4px;
    background-color: #DD6873;
    border-color: #DD6873;
    color: white;
    outline: none;
    cursor: pointer;
}
.label-filter{
    color: #DD6873;
}
