.card { 
    display: flex;
    align-items: center;
    justify-content:center;
    width: auto;
    height: auto;
    padding-top: 120px;
    background-color: var(--primary);
}

.detail {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    padding-left: 4vh;
}
@media screen and (max-width:768px){
    .detail{
        flex-direction: column;
    }
}

.back {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
height: auto;
width: 64vh;
margin-right: 7vh;
padding-left: 4vh;
}

.text {
    margin-right: 5vh;
}

.fondo {
    background-color: var(--primary);
    width: 20vh;   
}

.box {
    margin: 1rem;
    padding: 1.5rem;
    background-color: var(--smooth);
    opacity: 80%;
    border-radius: 5px;
    margin-right: 60px;
}

.list {
    border-radius: 12px;
}

.none {
    text-decoration: none;
} 

.ad_cart {
    background-color: var(--strong);
    color: white;
    border-radius: 12px;
    border: none;
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 14px;
}

.ad_cart:hover {
    background-color: #bd3d4a;
    height: 52px;
    margin-bottom: 0px;
}

.ad_cart:active {
    background-color: #B71C1C;
}

.ad_commet {
    background-color: var(--strong);
    color: white;
    border-radius: 12px;
    border: none;
    width: 100px;
    height: 30px;
    font-size: 18px;
}

.ad_commet:hover {
    background-color: #bd3d4a;
    margin-bottom: 0px;
}

.ad_commet:active {
    background-color: #B71C1C;
}

.ad_cart_out_stock{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c0bfbfe1;
    color: rgb(134, 131, 131);
    border-radius: 12px;
    border: none;
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 14px;

}
.next {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    color: var(--strong);
    border-color: #E3EFFB;
    border-radius: 3px;
    margin: 6px;
    font-size: 40px;
    padding: 0.1px;
    border: none;
    cursor: pointer;
  }
  .next:hover{
      color: #bd3d4a ;
  }

  .input {
    border: none;
    margin-bottom: 5px;
  }







