.container {
    display:grid;
    text-align: center;
    background-color: #FCEEF0;
}

.containerSec {
    display: grid;
}

.section {
    display: flex;
    justify-content: center;
}

.button {
          border: none;
          text-decoration: none;
          color: black;
          border-radius: 8px;
          width: 75px;
          height: 40px;
          margin: 10px;
          background:#fceef0 ;
}

.button:hover {
     color: var(--black);
}

/* .button a {
          text-decoration: none;
          color: #ffffff;
          font-size: 15px;
} */

.footer {
    display: grid;
    color: var(--black);
    text-decoration: none;
}

.footer:hover {
    color: var(--strong);
}

.select {
    margin: 25px 5px 25px 25px;
    
}

.sing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.singII {
    min-width: 88px;
    margin-top: 0.5vh;
}

.option {
    display: flex;
    flex-direction: row;
}

.ul {
    text-align: center;
    padding: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}

.inputNewsletter {
    margin-top: 1.5vh;
    width: 98%;
    height: 2.5vh;
}

.footerbtn{
    border: none;
    background-color: #FCEEF0;
    color: black;
    font-size: initial;
}

.buttonSub {
    color: white;
    border: none;
    background-color: var(--strong);
    border-radius: 6px;
  }
  .buttonSub:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px #fe4f22;
  }