.conteiner {
  /* background-image: url('https://i.pinimg.com/originals/85/9d/65/859d656bfa0cd93d6707f7f14fafaba0.gif'); */
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
  background-color: none;
  /* height: 20vh;
  padding-bottom: 500px; */
}

.spinner {
  margin: 10vw;
  padding: 5rem;
  /* border: 4px solid rgb(231, 99, 121); */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* border-left-color: rgb(231, 99, 121); */

  animation: spin 1s ease infinite;

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}